<div class="container" ng-hide="gameOver">
  <div class="row">
    <div class="col-xs-2 answer" ng-class="winner" ng-repeat="letter in answer track by $index">
      <letter-panel></letter-panel>
    </div>
    <div class="col-xs-2 scrambled" ng-repeat="letter in scrambled track by $index" ng-click="addLetter(letter)">
      <letter-panel></letter-panel>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        The last word meant: {{word.definition}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="getWord()">Skip</button>
      <button type="button" class="btn btn-default" ng-click="shuffle()">Reshuffle</button>
      <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
    </div>
  </div>
  <div class="row">
    {{time}} | {{player.score}}
  </div>
</div>
<div class="container" ng-show="gameOver">
  <div class="panel panel-default scorePanel">
    <div class="panel-heading">
      <h2 class="panel-title center">GameOver</h2>
    </div>
    <div class="panel-body">
      <form class="center">
         <div class="form-group">
           <p class="score">{{player.score}}</p>
           <input class="form-control" ng-model="player.name" placeholder="name">
         </div>
         <button class="btn btn-default center" type="submit" ng-click="saveScore(player)">Submit Score</button>
       </form>
       <div class="btn-group" role="group">
         <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
       </div>
       <div ng-show="topscores.length">
         <h3>Top Scores</h3>
         <div ng-repeat="topscore in topscores">
           <ul>
             <li>{{topscore.name}}</li>
             <li>{{topscore.score}}</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
